<header>
	(╯°□°)╯︵ uozɐɯɐ - (╯°□°)╯︵ ʞooqǝɔɐɟ  - (╯°□°)╯︵ ǝlddɐ - (╯°□°)╯︵ ǝlƃoooƃ <br>
	/*{{ strings.Repeat ( .Site.Title | len | add 80 ) "*" }}<br>
	{{ strings.Repeat (1) "*" }}
	\name <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><br>
	{{ strings.Repeat (1) "*" }}
	\author {{ .Site.Params.author }}<br>
	{{ strings.Repeat (1) "*" }}
	\brief <span>{{ .Site.Params.subtitle }}</span><br>
	{{ strings.Repeat (1) "*" }}
	\details <span>{{ .Site.Params.description }}</span><br>
	{{ strings.Repeat (1) "*" }}
	\note {{i18n "source-location"}} <a href="{{ .Site.Params.repoUrl }}">{{ .Site.Params.repoUrl }}</a>
	<br>{{ strings.Repeat (1) "*" }}
	{{i18n "issue-info"}} :)
	<br>
	<nav>
		{{ strings.Repeat (1) "*" }}
		{{i18n "blog-available"}} 
		{{ range $.Site.Home.AllTranslations }}
		<a href="{{ .Permalink }}"><b>{{ .Language.LanguageName }}</b></a>.
		{{ end }}
	</nav>
	{{ strings.Repeat ( .Site.Title | len | add 80 ) "*" }}*/
	<p>
	<nav>
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL  | absLangURL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
